.nav {
    grid-area: n;
}

.item {
    color: white;
    padding-top: 10% ;
    max-height: 60px;
    text-align: center;
}

.item a.activeLink {
    color: gold;
}

.allocation {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 15px;
}