.app-wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-areas:
  "h n"
  "c c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 3fr 9fr;
    /* grid-gap: 10px; */
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

html {
    background: linear-gradient( rgba(1, 1, 1, 0.2), rgba(0, 0, 0, 0.5) ), url(assets/WitcherWallpapers.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}

.app-wrapper-content {
    grid-area: c;
    color: white;
}